<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acceuil</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Acceuil</h1>
    <p th:text="'Welcome to our site !'"></p>
    <nav>
        <a th:href="@{/signin}">Signin</a>
        <a th:href="@{/clients/signup}">Signup</a>
    </nav>
    <div class="container">
        <div class="row">
            <div th:each="annonce : ${annonces}" class="col-md-4">
                <div class="card">
                    <img th:src="@{'/uploads/' + ${annonce.immobilier.photo}}" class="card-img-top" alt="Annonce Image">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${annonce.immobilier.ville} + ', ' + ${annonce.immobilier.delegation}"></h5>
                        <p class="card-text" th:text="${annonce.immobilier.description}"></p>
                        <p class="card-text"><strong>Prix:</strong> <span th:text="${annonce.immobilier.prix}"></span></p>
                        <p class="card-text"><strong>Surface:</strong> <span th:text="${annonce.immobilier.surface}"></span> m²</p>
                        <p class="card-text"><strong>Type:</strong> <span th:text="${annonce.immobilier.type}"></span></p>
                        <p class="card-text"><strong>Etat:</strong> <span th:text="${annonce.etatAnnonce}"></span></p>
                        <p class="card-text"><strong>Date:</strong> <span th:text="${#dates.format(annonce.date, 'dd/MM/yyyy')}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>