<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${annonceForm.id} == null ? 'Add Annonce' : 'Edit Annonce'"></title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <h1 th:text="${annonceForm.id} == null ? 'Add Annonce' : 'Edit Annonce'"></h1>
        <div>
            <a th:href="@{/admin/annonces}">Back</a>
        </div>
        <br>
        <form th:action="${annonceForm.id} == null ? @{/admin/annonces} : @{/admin/annonces/{id}(id=${annonceForm.id})}" th:object="${annonceForm}" method="post">
            <div class="form-group">
                <label for="immobilierId">Immobilier</label>
                <select id="immobilierId" th:field="*{immobilierId}" class="form-control">
                    <option th:each="immobilier : ${immobiliers}" th:value="${immobilier.id}" th:text="${immobilier.description}"></option>
                </select>
                <span th:if="${#fields.hasErrors('immobilierId')}" th:errors="*{immobilierId}" class="error">Immobilier Error</span>
            </div>
            <button type="submit" class="btn btn-primary" th:text="${annonceForm.id} == null ? 'Add Annonce' : 'Update Annonce'"></button>
        </form>
    </div>
</body>
</html>