<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acceuil</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <h1>Immobilier List</h1>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Prix</th>
                    <th>Ville</th>
                    <th>Delegation</th>
                    <th>Surface</th>
                    <th>Contact</th>
                    <th>Etat</th>
                    <th>Photos</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="annonce : ${annonces}">
                    <td th:text="${annonce.immobilier.id}">1</td>
                    <td th:text="${annonce.immobilier.prix}">100</td>
                    <td th:text="${annonce.immobilier.ville}">City</td>
                    <td th:text="${annonce.immobilier.delegation}">Delegation</td>
                    <td th:text="${annonce.immobilier.surface}">50</td>
                    <td th:text="${annonce.immobilier.contact}">123456789</td>
                    <td th:text="${annonce.immobilier.etat}">Good</td>
                    <td>
                        <ul>
                            <li th:each="photo : ${annonce.immobilier.photos}">
                                <img th:src="@{'/uploads/' + ${photo}}" alt="Photo" width="100">
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>