<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Creation de compte</title>
<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Sign up</h1>
    <div>
        <a th:href="@{/acceuil}">Back</a>
    </div>
    <br>
    <div>
        <form th:action="@{/Client/SignUp}" th:object="${clientForm}" method="post">
            <div>
                <label for="cin">cin</label>
                <input type="text" id="cin" th:field="*{cin}">
                <span th:if="${#fields.hasErrors('cin')}" th:errors="*{cin}">cin Error</span>
            </div>
            
            <div>
                <label for="nom">nom</label>
                <input type="text" id="nom" th:field="*{nom}">
                <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">nom Error</span>
            </div>
            
            <div>
                <label for="prenom">prenom</label>
                <input type="text" id="prenom" th:field="*{prenom}">
                <span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}">prenom Error</span>
            </div>

            <div>
                <label for="email">email</label>
                <input type="text" id="email" th:field="*{email}">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</span>
            </div>

            <div>
                <label for="password">password</label>
                <input type="password" id="password" th:field="*{password}">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</span>
            </div>

            
            <div>
                <input type="submit" value="Add person">
            </div>
        </form>
    </div>
    <div>
        <p style="color:red;" th:text="${error}"> error</p>
    </div>

</body>
</html>
